@{

    ViewBag.Title = "Why Term Plan";
}
<br />


<div class="container-fluid">


    <center>
        <h2 style="color: #ed232a"> Why to choose a Term Plan?</h2>
    </center>
    <hr />
    <br />
    <br />
    <div class="row">
        <div class="col-md-3">
            <div class="panel" style="color: white; background-color: #004c7f">
                <div class="panel-heading">
                    <h4>Provides for your family's regular expenses</h4>
                </div>
                <div class="panel-body">
                    <p>
                        Less than 10 per cent of an estimated workforce of nearly 400 million, have formal social security protection.
                    </p>
                    <p>
                        Your family needs life insurance from a term plan to meet regular expenses even in your absence.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel" style="color:white;background-color: #004c8f">
                <div class="panel-heading">
                    <h4>Secures your family's future needs</h4>
                </div>
                <div class="panel-body">
                    <p>
                        You family's dreams like child's professional education and spouse's retirement need substantial savings.
                    </p>

                    <p>
                        78% of Indian employees feel that they are not saving enough for retirement.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel" style="color:white;background-color: #004c8f">
                <div class="panel-heading">
                    <h4>Offers enhanced protection</h4>
                </div>
                <div class="panel-body">
                    <p>
                        15% caused by respiratory diseasesa,injuries,poisoning and other external causes.

                    </p>
                    <p>
                        Term plans soften the financial blow from deaths with riders like critical illnesses, accidents, permanent disability and subsequent loss of income.
                    </p>


                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel" style="color:white;background-color: #004c8f">
                <div class="panel-heading">
                    <h4>Most cost-effective life insurance coverage</h4>
                </div>
                <div class="panel-body">
                    <p>
                        Term plans provide the life insurance for the low premiums.
                    </p>

                    <p>
                        A 30 year-old, non-smoker male can get life insurance worth Rs 1 crore for 30 years at an annual premium of Rs 947012, or Rs 789 per month.
                    </p>
                </div>
            </div>
        </div>
        <br /><br />
        <br />

        <center>
            <a href="~/AddCustomer/Index" class="btn btn-primary">Buy Term Plan</a>
        </center>

    </div>

</div>

