
@{
    ViewBag.Title = "Contact";
}
<br />
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<center>
    <h2 style="color: #ed232a"> Contact us</h2>

    <hr />
    <br />
    <div class="container">
        <a class="fa fa-facebook-official" href="https://www.facebook.com/HDFClife" style="font-size:36px"></a>
        <hr />
        <a class="fa fa-twitter" href="https://twitter.com/HDFClife" style="font-size:36px"></a>
        <hr />
        <a class="fa fa-youtube" href="https://www.youtube.com/user/hdfclife10/?sub_confirmation=1" style="font-size:36px"></a>
        <hr />
        <a class="fa fa-linkedin" href="https://www.linkedin.com/authwall?trk=bf&trkInfo=AQETAJPjeZj9jAAAAXKzSGpY-K03f1aMquRQXGaKGY5r_-7j7gy4LibWq1ZPfZ5mfGBVSP4Yoa_aOKue56dPhQ8M6mrvJOA8IOzarRP-OgNLgsH62dd3F5za_C8Yg3xGa1qrurM=&originalReferer=&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fhdfc-life" style="font-size:36px"></a>
        <hr />
        <h4>Toll Free : 1800 - 566- 8777</h4>
    </div>
</center>






