
@{
    ViewBag.Title = "WhyThisPlan";
}
<br />


<div class="container-fluid">
    <center>
        <h2 style="color:#ed232a">
            Things which make this plan a must have term plan to protect your family's future.
        </h2>
    </center>
    <hr />
    <br />

    <div style=" color: #ed232a">
        <div class="panel" style="color: white; background-color: #004c8f">
            <div class="panel-heading">
                <h4>Whole life cover available.</h4>
            </div>
        </div>
        <div class="panel" style="color: white; background-color: #004c8f">
            <div class="panel-heading">
                <h4>Lumpsum payout on death or diagnosis of terminal illness.</h4>
            </div>
        </div>
        <div class="panel" style="color: white; background-color: #004c8f">
            <div class="panel-heading">
                <h4>Waiver of premiums in event of accidental total permanent disability or critical illness.</h4>
            </div>
        </div>
        <div class="panel" style="color: white; background-color: #004c8f">
            <div class="panel-heading">
                <h4>Receive monthly income for continued financial stability.</h4>
            </div>
        </div>
        <br />
        <br />

        <center>
            <a href="~/Customer/Index" class="btn btn-primary">Buy Term Plan</a>
        </center>
    </div>
</div>

